<a href="https://colab.research.google.com/github/jg2ol/Itin-Python/blob/main/conteudopython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# .format

nome = "João"
idade = 25
frase = "Olá, meu nome é {} e tenho {} anos.".format(nome, idade)
print(frase)

#índices
frase = "{1}, {0}, {2}".format("primeiro", "segundo", "terceiro")
print(frase)

#atribuição à variáveis
frase = "Meu nome é {nome} e tenho {idade} anos.".format(nome="Jose", idade=25)
print(frase)

#formatação de tipo
numero_inteiro = 42
numero_ponto_flutuante = 5.1234              #quant. de casas após a vírgula
frase = "Número inteiro: {:d}, Número de ponto flutuante {:.2f}".format(numero_inteiro, numero_ponto_flutuante)
print(frase)

#espaçamento
nome = "Alice"
idade = 30  #p/ a direita    p/ a esquerda
frase = "Nome: {:<10} | Idade: {:>5}".format(nome, idade)
print(frase)

Olá, meu nome é João e tenho 25 anos.
segundo, primeiro, terceiro
Meu nome é Jose e tenho 25 anos.
Número inteiro: 42, Número de ponto flutuante 5.12
Nome: Alice      | Idade:    30

In [ ]:
# F-strings (formatação literal de strings)

valor = 42
frase = f"O dobro de {valor} é {valor*2}, e o triplo é {valor*3}." #coloca-se "f" ou "F" antes da expressão e fora das aspas
print(frase)

#permite todas as características do .format, porém é mais flexível, mais recente
#procura as variáveis atribuídas em todo o código

O dobro de 42 é 84, e o triplo é 126.

In [ ]:
# Listas

#len(lista) é quantidade de elementos dentro da lista; (índice do último elemento + 1)
texto = "Olá, mundo!"
print(len(texto))

idade = [16, 23, 25, 27, 35]
i = 0
while i < len(idade):
  print(f"Elemento de índice {i} = {idade[i]}")
  i = i + 1

#adicionando elementos no final da lista
idade.append(37)
print(idade)

#criando uma lista a partir de uma vazia
numeros = []
numero1 = int(input("Digite um número: "))
numero2 = int(input("Digite um número: "))
numero3 = int(input("Digite um número: "))
numeros.append(numero1)
numeros.append(numero2)
numeros.append(numero3)
print(numeros)

#união de listas / deletando itens da lista
idade.extend(numeros)
del idade[1]
del idade[6]
print(idade)

11
Elemento de índice 0 = 16
Elemento de índice 1 = 23
Elemento de índice 2 = 25
Elemento de índice 3 = 27
Elemento de índice 4 = 35
[16, 23, 25, 27, 35, 37]
Digite um número: 1
Digite um número: 2
Digite um número: 3
[1, 2, 3]
[16, 25, 27, 35, 37, 1, 3]

In [ ]:
#"in" verifica se tal elemento está na lista
lista = ["Maçã", "Banana", "Pêra"]
if "Maçã" in lista:
  print("Maçã está na lista")
else:
  print("Maçã não está na lista")

Maçã está na lista

In [6]:
#guardando as propriedades de um dicionário em variáveis
estoque_frutas = {"maçã": 10, "banana": 5, "laranja": 8, "uva": 15}

quantidades = estoque_frutas.values()
keys = estoque_frutas.keys()

print(quantidades)
print(keys)

dict_values([10, 5, 8, 15])
dict_keys(['maçã', 'banana', 'laranja', 'uva'])

In [7]:
#podemos calcular a soma das chaves caso estas forem inteiros
dic = {2: 10, 3: 5, 4: 8, 5: 15}
valores = dic.values()
chaves = dic.keys()

#variável que carrega o valor da soma
soma = sum(chaves)
#variável que carrega os pares ordenados (key, value)
itens = dic.items()

print(soma)
print(itens)

14
dict_items([(2, 10), (3, 5), (4, 8), (5, 15)])

In [18]:
#adicionando itens ao dicionário
dic2 = {"chama1": 1, "chama2": 2, "chama3": 3, "chama4": 4, "chama5": 5}

chave_nova = "chama6"
valor_novo = 6
dic2[chave_nova] = valor_novo

#deletando um item específico do dicionário
del dic2["chama2"]

itens = dic2.items()
print(itens)

dict_items([('chama1', 1), ('chama3', 3), ('chama4', 4), ('chama5', 5), ('chama6', 6)])

In [19]:
#acessando o valor de uma chave específica
capitais = {"Brasil": "Brasília", "Alemanha": "Berlim", "Japão": "Tóquio"}
capital_brasil = capitais["Brasil"]
print(capital_brasil)

Brasília

In [21]:
#se a chave não estiver presente
telefones = {"ana": 12345678, "yudi": 40028922, "julia": 81624748}

if "telefone_andre" in telefones:
  telefone_andre = telefones["andre"]
  print(telefone_andre)
else:
  print("Este telefone não está no dicionário")

Este telefone não está no dicionário